@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Lobster&family=Pacifico&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --black: #13131a;
    --border: .1rem solid rgba(255, 255, 255, 0.2);
    --bg: #010103;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    
}

html::-webkit-scrollbar{
    width: .5rem;
    height: .2rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: .5rem;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black);
    z-index: 10;
    display: grid;
    place-content: center;
    justify-items: center;
}
.preloader > * {transition: var(--black);}

.preloader.loaded > * {opacity: 0;}

.preloader.loaded {
    transition-delay: 250ms;
    transform: translateY(100%);
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
    border-block-start-color: rgb(166, 182, 25);
    margin-block-end: 45px;
    animation: rotate360 1s linear infinite;

}

.preloader .preloader-text{
    background-size: 500%;
    font-size: calc(2rem);
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 16px;
    background: linear-gradient(to right, #ff4500, #ff8c00, #ffd700);
    font-family: 'Lobster';
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background-color: var(--bg);
    min-height: 100vh;
}

img {
    height: 100%;
}

header {
    height: 10vh;
    background-color: var(--black);
    display: flex;
    padding: 1rem 1%;
    border-bottom: var(--border);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
}


header h3 {
    text-align: center;
    background: linear-gradient(to right, #ff4500, #ff8c00, #ffd700);
    font-family: 'Lobster';
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


nav a{
    margin: 0 1rem;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    font-family: 'Lobster';
}

nav a:hover{
    color: #d3ad7f;
    border-bottom: 1px solid #d3ad7f;
}

header .icons a{
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.home{
    padding: 1rem 7%;
    background: linear-gradient(rgba(14, 15, 17, 0.9), rgba(9, 9, 10, 0.9)),url("./img/home.jpg");
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.home-inner-content{
    flex: 1 1 45rem;
}

.home-text-content{
    padding: 0 6rem;
}

.home-text-content h1{
    font-size: 35px;
    color: #d3ad7f;
}

.home-text-content p{
    color: #fff;
    font-size: 1.5rem;
    margin-top: 10px;
}

.home-text-content a{
    color: #fff;
    padding: 0.6rem 1.5rem;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.5s;
    display: inline-block;
    text-decoration: none;
}

.home-text-content a:hover{
    background-color: orange;
}

.about{
    padding: 1rem 7%;
    height: 90vh;
    max-width: 100%;
    background-color: #1d1c1a;

}
.main-about{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about-content{
    flex: 1 1 45rem;
}

.about-inner-content{
    width: 80%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.about-content .about-inner-content img{
    width: 100%;
    border-radius: 5px;
}

.about-text-content h1{
    color: #d3ad7f;
    font-size: 40px;
    text-align: center;
    line-height: 1.5;
}

.about-text-content p{
    color: #fff;
    font-size: 1.5rem;
    line-height: 35px;
}

@keyframes rotate360 {
    0% {transform: rotate(0);}
    100% {transform: rotate(1turn);}
}