@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Lobster&family=Pacifico&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    height: 100%;
}

header {
    height: 10vh;
    background-image: url(./header_bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: white;
    padding: .2rem;
    background-color: rgba(68, 68, 68, .7);
    border-radius: 50px;
    font-family: 'Lobster';
}

nav {
    background-color: rgba(90, 26, 26, 7);
}

a {
    
}

button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
}

footer {
    background-color: rgb(66, 66, 66);
}

footer h3 {
    color: rgb(255, 94, 0);
    font-family: 'Chewy';
}

footer p {
    color: white;
}